/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * rome.company (monthly pageviews: <50K)
 *
 */
/* complete */
@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("../../fonts/CircularXXWeb-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("../../fonts/CircularXXWeb-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../../fonts/CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../../fonts/CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("../../fonts/CircularXXWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("../../fonts/CircularXXWeb-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../../fonts/CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../../fonts/CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("../../fonts/CircularXXWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("../../fonts/CircularXXWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../../fonts/CircularXXWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../../fonts/CircularXXWeb-Medium.woff2") format("woff2");
}

/* subset */
@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("../../fonts/CircularXXSub-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("../../fonts/CircularXXSub-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("../../fonts/CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("../../fonts/CircularXXSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("../../fonts/CircularXXSub-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("../../fonts/CircularXXSub-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("../../fonts/CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("../../fonts/CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("../../fonts/CircularXXSub-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("../../fonts/CircularXXSub-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("../../fonts/CircularXXSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("../../fonts/CircularXXSub-Medium.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  color: #0a1b2b;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}

p {
  color: #7d8089;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * rome.company (monthly pageviews: <50K)
 *
 */
/* complete */
@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("../../fonts/CircularXXWeb-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("../../fonts/CircularXXWeb-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../../fonts/CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../../fonts/CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("../../fonts/CircularXXWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("../../fonts/CircularXXWeb-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../../fonts/CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../../fonts/CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("../../fonts/CircularXXWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("../../fonts/CircularXXWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../../fonts/CircularXXWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../../fonts/CircularXXWeb-Medium.woff2") format("woff2");
}

/* subset */
@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("../../fonts/CircularXXSub-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("../../fonts/CircularXXSub-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("../../fonts/CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("../../fonts/CircularXXSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("../../fonts/CircularXXSub-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("../../fonts/CircularXXSub-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("../../fonts/CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("../../fonts/CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("../../fonts/CircularXXSub-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("../../fonts/CircularXXSub-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("../../fonts/CircularXXSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("../../fonts/CircularXXSub-Medium.woff2") format("woff2");
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  color: #0a1b2b;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}

p {
  color: #7d8089;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  padding-bottom: 50px;
}

html {
  margin: 0;
  width: 100%;
}

body {
  font-family: "CircularXXWeb-Book";
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 12px 0 12px;
}

.tag {
  background-color: #c7abf8;
  border-radius: 100px;
  padding: 8px 12.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "CircularXXSub-Bold";
  font-size: 10px;
  color: #0a1b2b;
}

@media screen and (min-width: 768px) {
  .tag {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 48px 0 48px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
    max-width: 1344px;
    margin: 0 auto;
  }
}

button {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

button.button {
  min-width: 210px;
  padding: 16.5px 21px;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "CircularXXSub-Bold";
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5px;
}

button.button .button__arrow {
  margin-left: 8px;
}

button.button .button__arrow path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.button--blue-bg {
  background-color: #0069d9;
  color: white;
}

button.button--blue-bg .button__arrow path {
  fill: white;
}

button.button--blue-bg:hover {
  background-color: #0a1b2b;
}

button.button--white-bg {
  background-color: transparent;
  border: 1px solid #0069d9;
  color: #0069d9;
}

button.button--white-bg .button__arrow path {
  fill: #0069d9;
}

button.button--white-bg:hover {
  background-color: #0069d9;
  color: white;
}

button.button--white-bg:hover .button__arrow path {
  fill: white;
}

button.button--black-bg {
  background-color: #0a1b2b;
  color: white;
}

button.button--black-bg .button__arrow path {
  fill: white;
}

button.button--black-bg:hover {
  background-color: #0069d9;
}

.header {
  padding: 20px 0 20px 0;
  -webkit-box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.3);
          box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.3);
  color: #0a1b2b;
  font-size: 14px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 122px;
  height: 19px;
}

.header__menu-icon {
  background-image: url("../../images/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 9px;
  width: 24px;
}

.header .menu {
  display: none;
}

.header__language-selection, .header__login,
.header .button.header-button {
  display: none;
}

@media screen and (min-width: 993px) {
  .header__menu-icon {
    display: none;
  }
  .header__logo {
    max-width: 155px;
    height: 25px;
    margin-right: 40px;
  }
  .header__left-side, .header__right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #0a1b2b;
  }
  .header__language-selection {
    border-right: 1px solid rgba(10, 27, 43, 0.3);
    padding-right: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24px;
  }
  .header__login {
    padding-left: 24px;
    padding-right: 24px;
    display: block;
  }
  .header .button.header-button {
    width: 114px;
    min-width: 0;
    font-size: 14px;
    height: 34px;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header a {
    text-decoration: none;
    color: #0a1b2b;
  }
  .header .menu__dropdown-arrow {
    background-image: url("../../images/drop-down-chevron.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 6px;
    height: 3px;
    margin-left: 8px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .header .menu {
    display: block;
  }
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin: 0;
  }
  .header .menu__item {
    list-style-type: none;
    margin-right: clamp(20px, 40px, 50px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu__item:last-of-type {
    margin-right: 0;
  }
  .header .menu__notification {
    background-color: #c7abf8;
    color: white;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    font-family: "CircularXXSub-Bold";
  }
}

.cta-banner {
  background-color: #0a1b2b;
  font-size: 10px;
  padding: 12px;
}

.cta-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 888px;
  margin: 0 auto;
}

.cta-banner__text {
  max-width: 200px;
  color: white;
  text-decoration: none;
  margin: 0 5px 0 24px;
}

.cta-banner__close-button {
  background-image: url("../images/close-banner.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.cta-banner__more-details {
  display: none;
}

.cta-banner__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-banner .tag {
  color: #0a1b2b;
}

@media screen and (min-width: 768px) {
  .cta-banner__text {
    max-width: 100%;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 30px;
  }
  .cta-banner__more-details {
    display: block;
    color: #c7abf8;
    margin-left: 30px;
  }
}

.hero {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 64px 0 64px 0;
}

.hero__text {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 25px;
  font-family: "CircularXXWeb-Book";
  font-weight: 400;
}

.hero__subheading {
  font-size: 20px;
  margin-bottom: 35px;
  font-family: "CircularXXWeb-Book";
}

.hero__disclaimer {
  color: #0a1b2b;
  font-size: 14px;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 145px 0 96px 0;
  }
  .hero__heading {
    font-size: 48px;
  }
  .hero__subheading {
    margin-bottom: 48px;
    font-size: 24px;
  }
  .hero__disclaimer {
    font-size: 15px;
  }
}

.pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 888px;
  margin-bottom: 96px;
}

.pricing-cards__card {
  padding: 45px 24px 27px 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 432px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.pricing-cards__card:first-of-type {
  border-top: 4px solid #0069d9;
  margin-bottom: 53px;
}

.pricing-cards__title {
  font-size: 24px;
  margin-bottom: 32px;
  font-family: "CircularXXSub-Light";
}

.pricing-cards__description {
  font-size: 18px;
  margin-bottom: 45px;
}

.pricing-cards__price {
  font-size: 32px;
  font-family: "CircularXXSub-Light";
}

.pricing-cards__currency {
  text-transform: uppercase;
  font-size: 20px;
}

.pricing-cards__payment-frequency {
  font-size: 21px;
  margin-bottom: 40px;
}

.pricing-cards .button {
  margin-bottom: 32px;
}

.pricing-cards__allowance {
  font-size: 16px;
  color: #49545e;
  margin-bottom: 8px;
  font-family: "CircularXXSub-Medium";
}

.pricing-cards__transaction-fee {
  padding: 32px 0 32px 0;
  border-bottom: 1px solid rgba(10, 27, 43, 0.1);
  border-top: 1px solid rgba(10, 27, 43, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  margin-bottom: 35px;
  width: 100%;
}

.pricing-cards__transaction-price {
  font-family: "CircularXXSub-Bold";
  color: #49545e;
}

.pricing-cards__new-feature {
  padding: 32px 0 28px 0;
  border-bottom: 1px solid rgba(10, 27, 43, 0.1);
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.pricing-cards__new-feature-title {
  font-family: "CircularXXSub-Bold";
  color: #49545e;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-cards__new-feature-title .tag {
  text-transform: uppercase;
  margin-right: 10px;
  padding: 5.5px 14.5px 5.5px 14.5px;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
}

.pricing-cards__new-feature-description {
  color: #49545e;
  font-family: "CircularXXWeb-Book";
}

.pricing-cards__new-feature-description a {
  text-decoration: none;
  color: #0069d9;
}

.pricing-cards__addon-dropdown {
  width: 100%;
}

.pricing-cards__addon-title {
  font-family: "CircularXXSub-Bold";
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.pricing-cards__dropdown-arrow {
  background-image: url("../../images/dropdown-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 10px;
}

.pricing-cards__addon-table {
  width: 100%;
  text-align: left;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(10, 27, 43, 0.1);
}

.pricing-cards__addon-row {
  height: 40px;
}

.pricing-cards__addon-item {
  font-style: italic;
  color: #7d8089;
  font-size: 16px;
}

.pricing-cards__addon-price {
  font-family: "CircularXXSub-Bold";
  color: #49545e;
  text-align: right;
}

.pricing-cards__features {
  padding-left: 0;
  text-align: left;
  width: 100%;
  padding-top: 21px;
}

.pricing-cards__feature-item {
  list-style-type: none;
  margin-bottom: 25px;
  color: #7d8089;
  font-style: italic;
  font-size: 16px;
  padding-left: 35px;
  position: relative;
}

.pricing-cards__feature-item:last-of-type {
  margin-bottom: 0;
}

.pricing-cards__feature-item:before {
  content: "";
  background-image: url("../../images/checkmark.svg");
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #20c08d;
  position: absolute;
  left: 0;
}

.pricing-cards__card:nth-of-type(2) {
  border-top: 4px solid #0a1b2b;
}

.pricing-cards__card:nth-of-type(2) .pricing-cards__transaction-fee {
  margin-top: 52px;
  margin-bottom: 0;
}

.pricing-cards__card:nth-of-type(2) .pricing-cards__description {
  margin-bottom: 65px;
}

@media screen and (min-width: 992px) {
  .pricing-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 150px;
  }
  .pricing-cards__card:first-of-type {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.text-with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-with-image__left-side, .text-with-image__right-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.text-with-image__left-side {
  margin-bottom: 64px;
}

.text-with-image__image {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-with-image h4 {
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 48px;
}

.text-with-image p {
  color: #49545e;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (min-width: 1024px) {
  .text-with-image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-with-image__left-side {
    margin-bottom: 0;
  }
  .text-with-image h4 {
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 108.5px;
    padding-right: 6.5rem;
  }
  .text-with-image p {
    font-size: 24px;
    line-height: 36px;
    padding-right: 7.5rem;
  }
}
/*# sourceMappingURL=main.css.map */