/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * rome.company (monthly pageviews: <50K)
 *
 */

/* complete */

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("CircularXXWeb-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("CircularXXWeb-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("CircularXXWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("CircularXXWeb-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("CircularXXWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("CircularXXWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("CircularXXWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("CircularXXWeb-Medium.woff2") format("woff2");
}


/* subset */

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("CircularXXSub-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("CircularXXSub-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("CircularXXSub-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("CircularXXSub-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("CircularXXSub-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("CircularXXSub-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("CircularXXSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("CircularXXSub-Medium.woff2") format("woff2");
}


