@import "colours";

button {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

button.button {
  min-width: 210px;
  padding: 16.5px 21px;
  border-radius: 8px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $main-font-bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5px;

  .button__arrow {
    margin-left: 8px;
    path {
      transition: all 0.3s;
    }
  }

  &--blue-bg {
    background-color: $brand-primary;
    color: white;

    .button__arrow path {
      fill: white;
    }

    &:hover {
      background-color: $brand-black;
    }
  }

  &--white-bg {
    background-color: transparent;
    border: 1px solid $brand-primary;
    color: $brand-primary;

    .button__arrow path {
      fill: $brand-primary;
    }

    &:hover {
      background-color: $brand-primary;
      color: white;

      .button__arrow path {
        fill: white;
      }
    }
  }

  &--black-bg {
    background-color: $brand-black;
    color: white;

    .button__arrow path {
      fill: white;
    }

    &:hover {
      background-color: $brand-primary;
    }
  }
}
