@import "colours";
@import "typography";

* {
  box-sizing: border-box;
}

main {
  padding-bottom: 50px;
}

html {
  margin: 0;
  width: 100%;
}

body {
  font-family: $main-font;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 12px 0 12px;
}

.tag {
  background-color: $brand-purple;
  border-radius: 100px;
  padding: 8px 12.5px;
  width: fit-content;
  font-family: $main-font-bold;
  font-size: 10px;
  color: $brand-black;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 48px 0 48px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
    max-width: 1344px;
    margin: 0 auto;
  }
}
