@import "colours";

/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * rome.company (monthly pageviews: <50K)
 *
 */

/* complete */

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("../../fonts/CircularXXWeb-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("../../fonts/CircularXXWeb-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../../fonts/CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("../../fonts/CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("../../fonts/CircularXXWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("../../fonts/CircularXXWeb-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../../fonts/CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../../fonts/CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("../../fonts/CircularXXWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("../../fonts/CircularXXWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../../fonts/CircularXXWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../../fonts/CircularXXWeb-Medium.woff2") format("woff2");
}

/* subset */

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("../../fonts/CircularXXSub-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("../../fonts/CircularXXSub-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("../../fonts/CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("../../fonts/CircularXXSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("../../fonts/CircularXXSub-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("../../fonts/CircularXXSub-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("../../fonts/CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("../../fonts/CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("../../fonts/CircularXXSub-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("../../fonts/CircularXXSub-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("../../fonts/CircularXXSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("../../fonts/CircularXXSub-Medium.woff2") format("woff2");
}

//Set global fonts
$main-font: "CircularXXWeb-Book";
$main-font-bold: "CircularXXSub-Bold";
$main-font-semibold: "CircularXXSub-Medium";
$main-font-light: "CircularXXSub-Light";

//Font colours
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  color: $brand-black;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}

p {
  color: $body-gray;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
