@import "../global/colours";

.cta-banner {
  background-color: $brand-black;
  font-size: 10px;
  padding: 12px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
  }

  &__text {
    max-width: 200px;
    color: white;
    text-decoration: none;
    margin: 0 5px 0 24px;
  }

  &__close-button {
    background-image: url("../images/close-banner.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
  }

  &__more-details {
    display: none;
  }

  &__left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tag {
    color: $brand-black;
  }

  @media screen and (min-width: 768px) {
    &__text {
      max-width: 100%;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
    }

    &__more-details {
      display: block;
      color: $brand-purple;
      margin-left: 30px;
    }
  }
}
