.header {
  padding: 20px 0 20px 0;
  box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.3);
  color: $brand-black;
  font-size: 14px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 122px;
    height: 19px;
  }

  &__menu-icon {
    background-image: url("../../images/menu-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 9px;
    width: 24px;
  }

  .menu {
    display: none;
  }

  &__language-selection,
  &__login,
  .button.header-button {
    display: none;
  }

  @media screen and (min-width: 993px) {
    &__menu-icon {
      display: none;
    }

    &__logo {
      max-width: 155px;
      height: 25px;
      margin-right: 40px;
    }

    &__left-side,
    &__right-side {
      display: flex;
      align-items: center;
      color: $brand-black;
    }

    &__language-selection {
      border-right: 1px solid rgba(10, 27, 43, 0.3);
      padding-right: 24px;
      display: flex;
      align-items: center;
      height: 24px;
    }

    &__login {
      padding-left: 24px;
      padding-right: 24px;
      display: block;
    }

    .button.header-button {
      width: 114px;
      min-width: 0;
      font-size: 14px;
      height: 34px;
      letter-spacing: 1px;
      display: flex;
    }

    a {
      text-decoration: none;
      color: $brand-black;
    }

    .menu__dropdown-arrow {
      background-image: url("../../images/drop-down-chevron.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 6px;
      height: 3px;
      margin-left: 8px;
      transform: translateY(50%);
    }

    .menu {
      display: block;

      &__list {
        display: flex;
        padding-left: 0;
        margin: 0;
      }

      &__item {
        list-style-type: none;
        margin-right: clamp(20px, 40px, 50px);
        display: flex;
        align-items: center;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &__notification {
        background-color: $brand-purple;
        color: white;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: $main-font-bold;
      }
    }
  }
}
