@import "../global/colours";

.hero {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px 0 64px 0;

  &__text {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 25px;
    font-family: $main-font;
    font-weight: 400;
  }

  &__subheading {
    font-size: 20px;
    margin-bottom: 35px;
    font-family: $main-font;
  }

  &__disclaimer {
    color: $brand-black;
    font-size: 14px;
    margin-top: 25px;
  }

  @media screen and (min-width: 768px) {
    padding: 145px 0 96px 0;

    &__heading {
      font-size: 48px;
    }

    &__subheading {
      margin-bottom: 48px;
      font-size: 24px;
    }

    &__disclaimer {
      font-size: 15px;
    }
  }
}
