@import "../global/colours";

.pricing-cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 888px;
  margin-bottom: 96px;

  &__card {
    padding: 45px 24px 27px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    &:first-of-type {
      border-top: 4px solid $brand-primary;
      margin-bottom: 53px;
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: 32px;
    font-family: $main-font-light;
  }

  &__description {
    font-size: 18px;
    margin-bottom: 45px;
  }

  &__price {
    font-size: 32px;
    font-family: $main-font-light;
  }

  &__currency {
    text-transform: uppercase;
    font-size: 20px;
  }

  &__payment-frequency {
    font-size: 21px;
    margin-bottom: 40px;
  }

  .button {
    margin-bottom: 32px;
  }

  &__allowance {
    font-size: 16px;
    color: $body-dark-gray;
    margin-bottom: 8px;
    font-family: $main-font-semibold;
  }

  &__transaction-fee {
    padding: 32px 0 32px 0;
    border-bottom: 1px solid rgba(10, 27, 43, 0.1);
    border-top: 1px solid rgba(10, 27, 43, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 35px;
    width: 100%;
  }

  &__transaction-price {
    font-family: $main-font-bold;
    color: $body-dark-gray;
  }

  &__new-feature {
    padding: 32px 0 28px 0;
    border-bottom: 1px solid rgba(10, 27, 43, 0.1);
    width: 100%;
    font-size: 16px;
    text-align: left;
  }

  &__new-feature-title {
    font-family: $main-font-bold;
    color: $body-dark-gray;
    margin-bottom: 9px;
    display: flex;
    align-items: center;

    .tag {
      text-transform: uppercase;
      margin-right: 10px;
      padding: 5.5px 14.5px 5.5px 14.5px;
      padding-top: 5.5px;
      padding-bottom: 5.5px;
    }
  }

  &__new-feature-description {
    color: $body-dark-gray;
    font-family: $main-font;
    a {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  &__addon-dropdown {
    width: 100%;
  }

  &__addon-title {
    font-family: $main-font-bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  &__dropdown-arrow {
    background-image: url("../../images/dropdown-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 10px;
  }

  &__addon-table {
    width: 100%;
    text-align: left;
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(10, 27, 43, 0.1);
  }

  &__addon-row {
    height: 40px;
  }

  &__addon-item {
    font-style: italic;
    color: $body-gray;
    font-size: 16px;
  }

  &__addon-price {
    font-family: $main-font-bold;
    color: $body-dark-gray;
    text-align: right;
  }

  &__features {
    padding-left: 0;
    text-align: left;
    width: 100%;
    padding-top: 21px;
  }

  &__feature-item {
    list-style-type: none;
    margin-bottom: 25px;
    color: $body-gray;
    font-style: italic;
    font-size: 16px;
    padding-left: 35px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:before {
      content: "";
      background-image: url("../../images/checkmark.svg");
      background-size: 9px;
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $brand-green;
      position: absolute;
      left: 0;
    }
  }

  &__card {
    &:nth-of-type(2) {
      border-top: 4px solid $brand-black;

      .pricing-cards__transaction-fee {
        margin-top: 52px;
        margin-bottom: 0;
      }

      .pricing-cards__description {
        margin-bottom: 65px;
      }
    }
  }

  @media screen and (min-width: 992px) {
    flex-direction: row;
    margin-bottom: 150px;

    &__card:first-of-type {
      margin-right: 24px;
      margin-bottom: 0;
    }
  }
}
