.text-with-image {
  display: flex;
  flex-direction: column;

  &__left-side,
  &__right-side {
    flex: 0 0 50%;
  }

  &__left-side {
    margin-bottom: 64px;
  }

  &__image {
    height: 100%;
    object-fit: contain;
  }

  h4 {
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 48px;
  }

  p {
    color: $body-dark-gray;
    font-size: 18px;
    line-height: 27px;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;

    &__left-side {
      margin-bottom: 0;
    }

    h4 {
      font-size: 32px;
      line-height: 38.4px;
      margin-bottom: 108.5px;
      padding-right: 6.5rem;
    }

    p {
      font-size: 24px;
      line-height: 36px;
      padding-right: 7.5rem;
    }
  }
}
